<style>
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
</style>
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
.text1{
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: red;
}
.text2{
  font-size: 13px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: #FFFF00;
}
.text3{
  font-size: 8px;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: 	#00FF00;
}
.ring{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring{
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.ring:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}
span{
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
}
